*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: rgb(104, 191, 127);
    color: whitesmoke;
}
h1{
    margin: 25px auto;
    text-shadow: 0 5px 15px black;
}
form{
    width:350px;
    height: 500px;
    text-align: left;
    margin: auto;
    border: 1px solid;
    background-color: whitesmoke;
    color: black ;
    border-radius: 3px;
    border:none;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(48, 47, 47);
}

.todoList{
    width: 100%;
    height: 400px;
    overflow: auto;

    
   
}
.grey{
    color: grey;
    
}
button{
    border-radius: 5px;

   }

.todoInput{
    width: 85%;
    height: 7%;
    font-size: 25px;
    line-height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #c4c4c4;
}

.formSubmitBtn{
    
    font-size: 25px;
    width: 15%;
    height: 7%;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color:  rgb(40, 142, 67);
}
.btn-list{
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.btn-list button{
    border: none;
    font-size: 20px;
    background-color: rgb(40, 142, 67);
    color: whitesmoke;
    padding: 4px;
    margin-left: 5px;
    margin-top: 2px;
    font-weight: 500;
   
}
button:hover{
    color: green;
    background-color: #bed7b8;
    border: 1px solid green;
}
strong{
    background-color: rgb(192, 153, 12);
    padding: 2px;
    border-radius: 6px;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #747474;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-left:auto;
    margin-top: 4px;
    


}
li{
    color: #1c1c1c;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    height:35px;
    padding-left: 10px;
    display: flex;
    justify-content: baseline;
    border-bottom:1px solid #818181;
    background-color: rgba(255, 0, 0, 0.127);

}
input[type="checkbox"]::after{
    content: "\f00c ";
    font-family:"Font Awesome 5 Free" ;
    font-weight: 900;
    font-size: 18px;;
    color: white;
    display: none;
}
input[type="checkbox"]:hover{
    background-color: #a5a5a5;

}
input[type="checkbox"]:checked{
    background-color: #5bcd3e;
 
}
input[type="checkbox"]:checked::after{
    display: block;
    
}
.btn-del{
    margin-left: 10px;
    color: #0e2a3f;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 0, 0, 0.475);
}
.btn-del:hover{
    color: whitesmoke;
    background-color: #0e2a3f;
    border: none;
    border-radius: 0;
}

